/* RESPONSIVIDADE */

@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .beneficios-grid{
        grid-template-columns:1fr;
    }

    .botoes{
        justify-content:center;
    }

    .texto h1{
        font-size:40px;
    }
}

@media(max-width:768px){

    .sidebar{
        display:none;
    }

    main,
    .pagina-terapia{
        margin-left:0;
    }

    .logo{
        width:140px;
    }

    .usuario{
        font-size:14px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:100%;
        max-width:320px;
    }

    h1{
        font-size:35px;
    }
}

@media(max-width:600px){

    .texto h1{
        font-size:32px;
    }

    .hero{
        padding:30px 15px;
    }

    .imagem-card img{
        width:200px;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins, sans-serif;
    background:#e7f0fb;
}

/* HEADER */

header{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:76px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
    box-sizing:border-box;

    background:white;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);

    z-index:1000;
}

.logo{
    height:65px;
    width:auto;
    display:block;
}

.cantonav{
    display:flex;
    align-items:center;
    gap:10px;
}

.cantonav p{
    margin:0;
    color:#007eb4;
    font-weight:700;
    white-space:nowrap;
}

/* SIDEBAR */

.sidebar{
    position:fixed;

    top:76px;
    left:0;

    width:70px;
    height:calc(100vh - 76px);

    background:white;

    overflow:hidden;

    transition:width .3s;

    box-shadow:2px 0 10px rgba(0,0,0,0.05);

    z-index:999;
}

.sidebar:hover{
    width:220px;
}

.menu-topo{
    text-align:center;
    font-size:24px;
    padding:20px;
    color:#69b7e3;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
}

.sidebar nav a{
    display:flex;
    align-items:center;

    gap:15px;

    padding:18px;

    text-decoration:none;
    color:#555;
}

.sidebar nav a:hover{
    background:#edf6fc;
}

.ativo{
    background:#edf6fc;
    border-left:4px solid #69b7e3;
}

.icone{
    font-size:20px;
    min-width:25px;
}

.texto-menu{
    opacity:0;
    transition:.2s;
}

.sidebar:hover .texto-menu{
    opacity:1;
}
/* CONTEÚDO */

main{
    margin-top:80px; /* Empurra para baixo */
    margin-left:70px;

    padding:50px 30px;

    transition:0.3s;
}

.sidebar:hover ~ main{
    margin-left:220px;
}

/* TÍTULO */

h1{
    text-align:center;  /*\centraliza o texto */

    color:#69b7e3; /*Titulo especialidaddes */

    margin-bottom:80px; /*Cria espaço em baixo */

    font-size:50px;
}

/* CARDS */

.cards{
    display:flex; 

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;
}

.card{
    width:300px;

    background:white;

    padding:30px;

    border-radius:25px;

    text-align:center;

    text-decoration:none;

    color:black;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    opacity: 0.9;
}

.card img{
    width:350px;
    max-width:100%;
}

.card p{ 
    margin-top:20px;

    background:#d1f1ff;

    padding:12px;

    border-radius:50px;

    font-weight:bold;

    margin-bottom:20px;


}

/* border:2px dashed red -> Muda a borda /*

/* BOTÃO */

.horarios{
    display:block;

    width:max-content;

    margin:50px auto;

    padding:15px 25px;

    background:rgb(203, 230, 240); /*Consultar horários */

    color:#000000;

    text-decoration:none;

    border-radius:25px;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.horarios:hover{
    transform:scale(1.03);
}

/* PÁGINA DA TERAPIA */

.pagina-terapia{
    margin-top:80px;
    margin-left:70px;
}

/* ÁREA PRINCIPAL */

.cabecalho{
    background:#e0eaf2;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:50px;

    padding:50px 30px;

    flex-wrap:wrap;
}

/* TEXTO */

.texto{
    max-width:500px;
   
}

.voltar{
    text-decoration:none;
    color:#4aa6d9;
    font-weight:bold;

    display:inline-block;
    margin-bottom:20px;
    
}

.texto h1{   /*Nome da especialidades */
    color:#b07c4c;

    font-size:50px;

    margin-bottom:20px;

    margin-right:120px;
  
}

.texto p{
    color:#444;

    line-height:1.6;

    margin-bottom:20px;

}

.obs{
    font-size:14px;
    color:#777;
    
}

/* BOTÕES */

.botoes{
    display:flex;
    gap:15px;

    margin-bottom:20px;

    flex-wrap:wrap;

}

.btn-agendar{
    background:#17d96a;
    color:white;

    text-decoration:none;

    padding:15px 25px; /*Aumenta o espaço interno */

    border-radius:20px; /*Arredondar bordar */

    font-weight:bold;

}

.btn-agendar:hover{
    opacity: 0.8;
}

.btn-profissionais:hover{
    opacity: 0.8;
}

.btn-profissionais{
    background:white;
    color:#4aa6d9;

    text-decoration:none;

    padding:15px 25px;

    border-radius:20px;

    border:2px solid #4aa6d9; /*estilizacao dos botoes */

    font-weight:bold;

}

/* IMAGEM */

.imagem-card img{
    width:250px;
    max-width:100%;

    display:block;
    margin:auto;

    justify-content: center; /*Centraliza botoes e imagens */
}

.imagem-card img{
    width:550px;
    max-width:100%;
}

/* BENEFÍCIOS */

.ajuda{
    padding:50px 20px;
}

.ajuda h2{
    text-align:center;

    margin-bottom:40px;

    color:#222;
}

.beneficios-grid{
    display:grid;

    grid-template-columns:repeat(2, 1fr);

    gap:20px;

    max-width:900px;

    margin:auto;
}

.beneficio{
    background:white;

    padding:25px;

    border-radius:55px;

    box-shadow:0 2px 8px rgba(0,0,0,0.08);

    text-align:center; /*centraliza o texto */
}

